body {
  font-family: "helvetica neue", "roboto", Arial, "PingFang SC", "droid sans fallback", STHeiti;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

legend {
  color: #000;
}

.ui-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.ui-bg {
  background-color: #f2f1f0;
}
